.container {
	display : flex;
	padding : 6px;
}

.image-wrapper {
	width : 150px;
	text-align : center;
}

.image {
	max-height : 150px;
	max-width : 150px;
	padding : 6px;
}

.name {
	flex-grow : 1;
	padding : 2px 6px 6px 6px;
}

.cart-product-price {
	font-weight : 600;
	text-align : right;
	margin-right : 80px;
}

.input-quantity {
	width : 70px;
}

@media (max-width : 1023.98px) {
	.name {
		max-width : 40%;
		max-height : 80%;
	}
	.cart-product-price {
		margin-right : 0px;
		margin-top : 40px;
	}
}