/*.container {
	display : flex;
	padding : 6px;
}
*/
.image-wrapper {
	width : 150px;
}

.image {
	max-height : 150px;
	max-width : 150px;
}

.product-price {
	font-weight : 600;
	text-align: right;
}