.media-img {
	max-height : 500px;
	width : 210px;
	border-radius : 6px;
	margin : 0 10px 10px 10px;
}

.media-img-wrapper {
	max-height : 500px;
	text-align : center;
}

.description {
	white-space: pre-wrap;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
}

.container-mid {
	max-height: 350px;
}

.original-price {
	text-decoration: line-through;
}

@media (max-width : 1023.98px) {
	.media-img {
		max-width : 300px;
	}

	.media-img-wrapper {
		width : 100%;
		height: auto;
	}
	
	.action {
		display : flex;
		flex-direction : row;
		justify-content : flex-end;
	}
}

@media (max-width: 576px) {
	.container {
		padding-bottom: 75px !important;
	}

	.media-img {
		max-width: 100px;
	}

	.container-right {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
	}

	.product-title, .form-select, .original-price, .price {
		font-size: .95rem;
	}
}