.media-img {
	max-height : 250px;
/*	width : 210px;*/
	border-radius : 6px;
	margin : 0 10px 10px 10px;
}

.media-img-wrapper {
	max-height : 250px;
	text-align : center;
}


.container-right {
	width: 20%;
}

.description {
	white-space: pre-wrap;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
}

.container-mid {
	max-height: 350px;
}

.original-price {
	text-decoration: line-through;
	font-size: .9rem;
}

.price {
	font-size: 1.25rem;
}

@media (max-width : 1023.98px) {
	.media-img {
		max-width : 300px;
	}

	.media-img-wrapper {
		width : 100%;
		height: auto;
	}

	.container-right {
		width: auto;
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
	}

	.action {
		display : flex;
		flex-direction : row;
		justify-content : flex-end;
	}
}

@media (max-width: 576px) {
	.container {
		padding-bottom: 75px !important;
	}

	.media-img {
		max-height: 200px;
		max-width: 120px
	}

	.container-right {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		width: auto;
	}

	.product-title, .form-select {
		font-size: .95rem;
	}

	.original-price {
		font-size: .75rem;
	}
	
	.price {
		font-size: .9rem;
	}
}