@inject IUnitOfService unitOfService
@inject ISyncLocalStorageService localStorage
@implements IDisposable

<AuthorizeView>
	<a href="cart" class="btn btn-outline-info text-decoration-none position-relative">
		<i class="oi oi-cart"></i>
		@if (GetCartItemsCount() > 0)
		{
			<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">@GetCartItemsCount()</span>
		}
	</a>
</AuthorizeView>

@code {
	private int GetCartItemsCount()
	{
		var count = localStorage.GetItem<int>("cartItemsCount");
		return count;
	}

	protected override void OnInitialized()
	{
		unitOfService.Cart.OnChange += StateHasChanged;
	}

	public void Dispose()
	{
		unitOfService.Cart.OnChange -= StateHasChanged;
	}
}
