.container {
	display : flex;
	flex-direction : row;
	overflow-x : auto;
	justify-content: center;
}

img {
	width: 150px;
	max-width : 200px;
	max-height : 200px;
	border-radius : 6px;
	transition : transform .2s;
	margin-bottom : 10px;
}

img:hover {
	transform : scale(1.1) rotate(5deg);
}

.featured-product {
	margin : 10px;
	text-align : center;
	padding : 10px;
	border: 1px solid lightgray;
	border-radius : 10px;
	width: 170px;
	max-width : 200px;
}
.product-title, .price {
	font-size: 1rem;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

@media (max-width : 1023.98px) {
	.container {
		justify-content: start;
	}

	img {
		max-width: 110px;
		max-height: 150px;
	}

	.featured-product {
		margin: 6px;
		text-align: center;
		padding: 6px;
		border: 1px solid lightgray;
		border-radius: 6px;
		max-width: 200px;
	}

	.product-title {
		font-size: .7rem;
	}

	.price {
		font-size: .7rem;
	}
}