@inject NavigationManager navigationManager
@inject IAuthService authService

<button @onclick="GoToHome" class="btn btn-outline-primary home-button">
	@*BlazorECommerce*@
	<div class="brand">
		<img style="max-height: 40px" src="https://res.cloudinary.com/duthytmqy/image/upload/v1682229266/bec-high-resolution-logo-color-on-transparent-background_mnb8ph.png" />
		<span>BlazorECommerce</span>
	</div>
</button>

<button @onclick="GoToHome" class="btn mobile-home-button">
	<div class="brand">
		<img style="max-height: 40px" src="https://res.cloudinary.com/duthytmqy/image/upload/v1682229266/bec-high-resolution-logo-color-on-transparent-background_mnb8ph.png" />
		<span>BlazorECommerce</span>
	</div>
</button>

@code {
	[Parameter]
	public string? Role { get; set; } = "Customer";

	private void GoToHome()
	{
		if (!string.IsNullOrEmpty(Role) 
		&& Role.ToLower().Equals("admin"))
		{
			navigationManager.NavigateTo("/admin");
		} else
		{
			navigationManager.NavigateTo("");
		}
	}
}
