.media-body {
	min-height : 190px;
}

.media-img {
	max-height : 190px;
	width: 140px;
	margin-bottom: 6px;
	border-radius : 3px;
	transition : transform .2s;
}

.media-img:hover {
	transform : scale(1.1);
}

.page-selection {
	margin-right : 15px;
	margin-bottom : 30px;
}

.product-card {
	width: 170px;
	height: 350px;
}

.product-title {
	font-size: .85rem;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.product-price {
	font-size: .75rem;
}

.product-text {
	height: 130px;
}

.icon-rate {
	font-size: .85rem;
	padding-top: 5px;
}

#rate .text {
	font-size: .8rem; 
	padding-top: 3px;
}

@media (max-width : 1023.98px) {
	.media {
		flex-direction : column;
	}

/*	.media-img-wrapper {
		width : 100%;
		height : auto;
	}*/

	.product-card {
		width: 150px;
		height: 300px;
	}

	.media-img {
		max-width: 130px;
		max-height: 150px;
		border-radius: 3px;
		margin-bottom: 4px;
		transition: transform .2s;
	}

	.product-title {
		font-size: .8rem;
	}

	.product-price {
		font-size: .7rem;
	}

	.product-text {
		height: 140px;
	}

	.icon-rate {
		font-size: .9rem;
	}

	#rate .text {
		padding-top: 0;
	}

	#card-bottom {
		padding: 8px;
	}
}