@inject NavigationManager navigationManager
@inject IProductRepository productRepository

<div class="input-group">
	<input 
		@bind-value="searchText"
		@bind-value:event="oninput"
		type="search"
		list="products"
		@onkeyup="HandleSearch"
		class="form-control"
		placeholder="Search..."
		@ref="searchInput"
	/>
	<datalist id="products">
		@foreach(var suggestion in suggestions)
		{
			<option>@suggestion</option>
		}
	</datalist>
	<div class="input-group-append">
		<button class="btn btn-primary" @onclick="SearchProucts">
			<span class="oi oi-magnifying-glass"></span>
		</button>
	</div>
</div>


@code {
	private string searchText = string.Empty;
	private List<string> suggestions = new();
	protected ElementReference searchInput;

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			await searchInput.FocusAsync();
		}
	}

	public void SearchProucts()
	{
		navigationManager.NavigateTo($"search/{searchText}/1");
		searchText = "";
	}

	public async Task HandleSearch(KeyboardEventArgs keyArgs)
	{
		if (keyArgs.Key == null || keyArgs.Key.Equals("Enter"))
		{
			SearchProucts();
		} else if (searchText.Length > 1)
		{
			var sug = await productRepository.SearchProductSuggestion(searchText);
			suggestions = sug.ToList();
		}
	}
}
